[submodule "external/du-serializer"]
	path = e/serializer
	url = git@github.com:PerMalmberg/du-serializer.git
[submodule "external/du-unit-testing"]
	path = e/du-unit-testing
	url = git@github.com:PerMalmberg/du-unit-testing.git
